.gundam-card {
	border: .5rem solid;
	border-radius: .5rem;
	background: white;
	display: table-row;
	width: 14rem;
	margin: 2rem;
}

.gundam-pic {
	height: 9rem;
	display: block;
	float: left;
}

.background-colony {
	background-image: url("../images/Background-Colony.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	height: 100vh;
}

.gundam-text {
	float: right;
	text-align: right;
	font-size: 16px;
	padding: 0 1rem 0 0;
	width: 6.5rem;
}

p {
	margin: .5rem 0;
}

body {
	background-color: black;
}