.gundam-card {
	border: .5rem solid;
	border-radius: .5rem;
	background: white;
	width: 15rem;
	margin: 1rem;
	display: inline-block;
}

.gundam-pic {
	height: 9rem;
	display: block;
	float: left;
}

.bg-colony, .bg-space, .bg-city {
	background-repeat: no-repeat;
	min-height: 100vh;
}

.bg-colony {
	background-image: url("../images/Background-Colony.jpg");
}

.bg-space {
	background-image: url("../images/Background-Space.jpg");
}

.bg-city {
	background-image: url("../images/Background-City.png");
}

.gundam-text {
	float: right;
	text-align: right;
	font-size: 16px;
	padding: .5rem .5rem 0 0;
	width: 6rem;
}

.btn-atk {
	margin: .5rem;
}

.text-atk {
	margin: .5rem 2rem;
}

.cardH {
	min-height: 194px;
}

/*.wrapper {
	width: 1200px;
	margin: auto;
}*/

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

h6 {
	height: 34px;
}

p {
	margin: .5rem 0;
}

body {
	background-color: black;
	/*min-width: 1200px;*/
}